/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

main section img {
  box-sizing: border-box;
}

body {
  background-color: #f4f0e0;
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
}

header,
footer {
  font-family: "Bebas Neue", Arial, sans-serif;
}

#hero {
  border: 2px solid #9a031e;
}

h2 {
  margin: 0;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

#background {
  height: 725px;
  background-color: #dda15e;
}

.logo {
  width: 80px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.card-img,
.mountains {
  max-width: 60%;
}

.card-img {
  border: 10px solid #9a031e;
}

#hero-img {
  max-width: 100%;
}

nav a {
  text-align: center;
  color: #fefae0;
  text-decoration: none;
  padding: 35px;
}

.nav_link {
  padding: 20px;
}

nav a:hover {
  background-color: #bc6c25;
  color: #fefae0;
  text-decoration: underline;
}

#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
  text-align: center;
}

header {
  background-color: #0f4c5c;
}

.book,
.join {
  background-color: #9a031e;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #5f0f40;
  color: #fefae0;
  text-decoration: underline;
}

.msg {
  background-color: #0e4f5f;
  color: #fefae0;
  padding: 35px;
}

.msg h2 {
  color: #fefae0;
}

.msg p {
  color: #fefae0;
  font-size: 0.8em;
  padding-bottom: 15px;
}

footer {
  background-color: #0e4f5f;
  color: #fefae0;
  padding: 25px 50px;
  margin-top: 200px;
}

footer a {
  color: #fefae0;
  text-decoration: none;
}

footer a:hover {
  background-color: #bc6c25;
  color: #fefae0;
  text-decoration: underline;
}

footer p {
  font-size: 1.2em;
}

footer .social img {
  padding-top: 15px;
}

.home-title {
  color: #0e4f5f;
  font-size: 2em;
  margin-top: 10px;
}

.h4 {
  color: #0e4f5f;
}

#logo_link {
  padding-top: 5px;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px;
}
