@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@font-face {
    font-family: "Rustic Printed";
    src: url("Rustic\ Printed.ttf") format("truetype");
}

/* Colors */

:root {
    --Primary-2: #386350;
    --Gradient-Red: linear-gradient(107deg, #A6516D 0%, #D85656 109.16%);
    --Gradient-Naranga: linear-gradient(107deg, #FF0F7B 0%, #F89B29 109.16%);
    --Neutral-Light: #E3E8FF;
    --Secondary: #A6516D;

    --heading-font: "Rustic Printed", sans-serif;
    --paragraph-font: "Quicksand", Helvetica, sans-serif;
}

/* General Styling */

body {
    background-color: var(--Primary-2);
    font: 16px var(--paragraph-font);
    margin: 0;
    padding: 0;
    max-width: 1459px;
    margin: 0 auto;
}

h1 {
    font: 96px var(--heading-font);
    color: white;
    margin: 0;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 24px;
    font-weight: 700;
}

/* Navigation Bar */

nav {
    position: fixed;
    width: 100%;
    max-width: 1459px;
    height: 150px;
    background: rgba(26, 65, 81, 0.15);
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    z-index: 10000;
}

nav img {
    width: 86px;
    height: 86px;
    margin: 32px 0 32px 32px;
    border-radius: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.active-page {
    position: relative;
}

.active-page::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
}

/* Hero */

#hero {
    position: relative;
}

#hero h1 {
    position: absolute;
    top: 50%;
    left: calc(50% - 150px);
    transform: translate(-50%, -50%);
}

#hero img {
    width: 1459px;
    height: 679px;
}

/* Your Next Adventure */

#your-next-adventure {
    position: relative;
}

#your-next-adventure img {
    position: absolute;
    top: -400px;
    left: 60%;
    z-index: -1;
}

#your-next-adventure h1 {
    margin-top: 100px;
    margin-left: 200px;
}

#campus-chronicles-vision-statement {
    width: 670px;
    height: 391px;
    border-radius: 50px;
    background: #B53E67;
    margin-left: 112px;
    margin-top: 245px;
    display: flex;
    box-shadow: 12px 12px 46px 0px rgba(50, 14, 14, 0.5);
}

#campus-chronicles-vision-statement p {
    margin: 80px;
    justify-content: center;
    font-size: 23px;
}

/* Breaking News */

#breaking-news {
    position: relative;
    padding-top: 200px;
}

#breaking-news-background-img {
    max-width: 100%;
    min-width: 900px;
    height: 2223px;
}

#breaking-news h1 {
    position: absolute;
    top: 600px;
    left: 25%;
    z-index: 1;
    min-width: 700px;
}

#breaking-news-articles {
    position: absolute;
    top: 900px;
    left: 15%;
}

.article-short {
    display: flex;
    align-items: center;
    background-color: #386350;
    border-radius: 34px;
    width: 881px;
    height: 125px;
    padding-left: 28px;
    margin: 70px auto;
}

.article-short:hover {
    background-color: #2c4e3e;
    box-shadow: #2c4e3e 0px 0px 10px 0px;
}

.article-short img {
    width: 69px;
    height: 69px;
    border-radius: 50%;
}

.article-short p {
    font-weight: 700;
    font-size: 24px;
    padding-left: 24px;
}

#breaking-news a {
    text-decoration: none;
}

/* Meet The Editors */

#editors {
    padding-top: 99px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 286px;
}

.editor {
    padding: 40px 29px 40px 29px;
    background: #B53E67;
    border-radius: 45px;
    width: 398px;
    margin: 45px 45px;
}

.editor img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.editor h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.editor h4 {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: white;
}

/* Article Page */

#article-heading {
    padding-top: 200px;
    max-width: 1000px;
    margin: 0 auto;
}

#article-body {
    max-width: 700px;
    margin: 56px auto;
    margin-bottom: 150px;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1459px;
    height: 103px;
    background: rgba(26, 65, 81, 0.15);
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    z-index: 10000;
}

footer p,
footer a {
    margin-left: 16px;
}

#copyright {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

#site-plan-footer-link {
    color: white;
    font-size: 16px;
    font-weight: 300;
}

#site-plan-footer-link:visited {
    color: white;
}