/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

/* Everything else */

body {
    margin: 0;
    font-family: 'Workbench', sans-serif;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header, footer {
    background-color: lightblue;
    padding: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

footer {
    padding: 20px;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.nav_link {
    padding: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 20px;
    font-size: 1.5em;
}

nav a:hover {
    color: gray;
}

#main_title {
    font-size: 4em;
    text-align: center;
}

p {
    font-size: 1.5em;
    text-align: center;
}

img {
    width: 20%;
    display: block;
    margin: 0 auto;
}

a {
    color: black;
}